{% extends 'index.html' %}
{% load static %}
{% block content %}

  <header class="masthead" style="background-image: url('{% static 'img/signup.jpg' %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Lets Add the inspiration</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><center>Add your post here.</center></p>
          <form method="post">
            {% csrf_token %}
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" name="title" required data-validation-required-message="Please enter title here."> <br>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Sub Title</label>
                <input type="text" class="form-control" placeholder="Sub title (optional)" name="sub_title"> <br>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Post</label>
                <input type="text" class="form-control" placeholder="Post" name="post" required data-validation-required-message="Please enter the post here."> <br>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Upload image</label>
                <input type="file" name="image">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-secondary" id="sendMessageButton">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% endblock %}
