{% extends 'index.html' %}
{% load static %}
{% block content %}

    <header class="masthead" style="background-image: url('{% static "" %}{{image}}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{post.title}}</h1>
              {% if post.sub_title %}
                  <h2 class="subheading">{{post.sub_title}}</h2>
              {% endif %}
              <span class="meta">Posted by
                {{post.posted_by}} on {{post.published_on}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>
              {{post.post}}
            </p>
          </div>
        </div>
      </div>
    </article>

    <hr>

    {% endblock %}
